<!DOCTYPE html>
<html>
<head>
<!-- meta section -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- page config section -->
	<title>Hệ thống quản lý chuyến bay.</title>

	<!-- css section -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/booktickets.css')}} ">

	<!-- jquery section -->
	<script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}} "></script>

</head>
<body>
    <div class="header">
        <h1>HỆ THỐNG QUẢN LÝ CHUYẾN BAY</h1>
    </div>
    <ul class="menu">
		<li><a href="{{url_for('home')}}">Trang Chủ</a></li>
		<li><a href="{{url_for('login')}}">Đăng Nhập</a></li>
		<li><a class="active" href="{{url_for('booktickets')}}">Đặt Vé</a></li>
		<li><a href="#ticket_sales">Bán Vé</a></li>
		<li><a href="#flight_management">Quản Lý Chuyến Bay</a></li>
		<li><a href="#Flight_route_Management">Quản Lý Tuyến Bay</a></li>
		<li><a href="#report">Thông Kê Báo Cáo</a></li>
	</ul>
<div class="main">
    <div class="find-flight">
        <div class="title">
            <h1>Tìm chuyến bay</h1>
        </div>
        <div class="info">
            <div class="departure">
                <p>Từ</p>
                <p>
                    <select name="from" id="from">
                        <option value="TP HCM">TPHCM (SGN)</option>
                        <option value="Ha Noi">Hà Nội (HAN)</option>
                        <option value="Da Lat">Đà Lạt (DLI)</option>
                        <option value="Da Nang">Đà Nẵng (DAD)</option>
                    </select>
                </p>
            </div>
            <div class="destination">
                <p>Đến</p>
                <p>
                    <select name="to" id="to">
                        <option value="TP HCM">TPHCM (SGN)</option>
                        <option value="Ha Noi">Hà Nội (HAN)</option>
                        <option value="Da Lat">Đà Lạt (DLI)</option>
                        <option value="Da Nang">Đà Nẵng (DAD)</option>
                    </select>
                </p>
            </div>
            <div class="time">
                <p>Ngày đi</p>
                <p>
                    <input type="date" id="date" name="date">
                </p>
            </div>
        </div>

        <div class="find">
            <button>Tìm</button>
        </div>
    </div>

    <div class="list-flight">
        <h1>Danh sách các chuyến bay</h1>
    </div>

</div>
<div class="footer">
        <p>Bản quyền thuộc về nhóm 16</p>
</div>
</body>